#graph-container {
    position: relative;
    width: 550px;
    height: 550px;
    border: black solid 1px;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
    backdrop-filter: blur(10px);
}

#graph-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#overlay-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#overlay-error {
    display: none;
}
