body {
    background-image: url("../img/markanyan-crop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}

html, body {
    padding: 0;
    margin: 0;
}

#screen {
    display: flex;
    position: relative;
    height: 100svh;
    width: 100%;
}

#left-div {
    width: 59%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#right-div {
    width: 41%;
    height: 100%;
    display: flex;

}

#top-div {
    width: 95%;
    flex: 0 0 auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-left: none;
    border-top: none;
    margin-right: 5%;
}

#bottom-div {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
}

.text {
    font-family: "Century Gothic", serif;
}

#name-header {
    border-top: none;
    border-left: none;
    width: 60%;
    height: 100%;
    padding-left: 10px;
}

#name-text {
    font-size: 24px;
}

#subname-text {
    font-size: 16px;
}

#input-div {
    width: 50%;
    height: 100%;
}

.half-center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


#scroll-div {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

#inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 20px;
    flex-shrink: 0;
    width: 400px;
    height: 400px;
}

.btns {
    padding: 20px 60px 20px 60px;
}

.background-none {
    background: none;
}

#y-error {
    display: none;
}

#send-error {
    display: none;
}

.select-header {
    font-size: 22px;
}

#graph-container {
    position: relative;
    width: 440px;
    height: 440px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

#graph-svg,
#overlay-svg {
    position: absolute;
    top: 0;
    left: 0;
}

#graph-svg {
    z-index: 0;
}

#overlay-svg {
    z-index: 1;
}

#overlay-error {
    display: none;
}

.cmd-btn {
    margin: auto;
    padding: 20px 30px;
}

td tr {
    margin-left: auto;
    margin-right: auto;
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#div-mover {
    width: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-left: none;
    border-top: none;
    flex: 0 0 auto;
}

#result-table {
    flex: 1 1 auto;
}


#scroll-table {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}