td, th {
    text-align: center;
    vertical-align: middle;
}

td > * {
    justify-content: center;
    align-items: center;
}

/*tr {*/
/*    width: 100%;*/
/*    display: flex;*/
/*}*/

#div-mover {
    width: 30px;
    flex: 0 0 auto;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-left: none;
    border-top: none;
    border-bottom: none;
    transition: right 0.4s ease;
}

#result-table {
    table-layout: auto;
    border-collapse: collapse;
}


td, th {
    vertical-align: top;
    height: auto;
    padding: 4px 8px;
    border: 1px solid black;
}

.y-column {
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
}

#scroll-table {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;

    transform: translateX(0);
    transition: transform 0.4s ease;


    border-radius: 30px 0 30px 0;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    box-shadow:
            inset 0 0 15px rgba(255, 255, 255, 0.3),
            0 0 30px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

#scroll-table.close {
    transform: translateX(calc(100% - 30px));
}